/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --regular: 400;
    --semibold: 700;
    --bold: 800;
    --primary-color: #333333;
    --secondary-color: #f70142;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background-color: var(--primary-color);
    line-height: 31px;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

/* header */
header {
    padding: 25px 78px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1)30%, rgba(0, 0, 0, 0)100%);
}

@media(min-width: 768px) and (max-width: 991px) {
    header {
        padding: 20px 30px;
    }
}

@media(max-width: 767px) {
    header {
        padding: 20px;
    }
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 79px;
}

.navbar .menu {
    list-style: none;
    display: flex;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
}

@media(max-width: 767px) {
    .navbar .menu {
        display: block;
        height: 100vh;
        transform: translateX(120%);
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        padding: 30px 0;
    }

    .navbar .menu.open {
        transform: translateX(0);
    }

}

.navbar .fa-bars {
    display: none;
}

@media(max-width: 767px) {
    .navbar .fa-bars {
        display: block;
        font-size: 28px;
        color: #fff;
        padding: 10px;
        cursor: pointer;
    }
}

.navbar a {
    color: #fff;
    font-size: 22px;
    padding: 10px 8px;
    margin: 0 20px;
    transition: all .3s ease-in;
}

@media(min-width: 768px) and (max-width: 991px) {
    .navbar a {
        margin: 0 12px;
    }
}

@media(max-width: 767px) {
    .navbar a {
        display: block;
        padding: 10px 0;
        margin: 23px;
    }
}

.navbar li:last-child a {
    padding-right: 0;
    margin-right: 0;
}

.navbar li:hover a {
    color: #f70142;
}

.navbar li.active a {
    border-bottom: 2px solid #f70142;
}

@media(max-width: 767px) {
    .navbar li.active a {
        border-bottom: 0;
    }
}

.container {
    max-width: 1266px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.form-container {
    margin: 0 auto;
    /* background-color: red; */
    padding: 150px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form {
    background-color: black;
    width: 500px;
    padding: 40px;
    height: auto;
}

form .input-group input{
    width: 100%;
    padding: 15px 10px;
    outline: none;
    font-size: 17px;
    margin: 15px 0;
    color: #fff;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    background: transparent;
}

form .input-group input::placeholder{
    color:var(--primary-color);
}

form .submit-btn{
    width: 100% ;
    padding: 15px 10px;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: var(--semibold);
    font-size: 16px;
    border: none;
    outline: none;
    transition: background-color ease .3s;
}

form .submit-btn:hover{
    background-color: var(--primary-color);
}