/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --regular: 400;
    --semibold: 700;
    --bold: 800;
    --primary-color: #333333;
    --secondary-color: #f70142;
}

/* GLOBAL CLASS */
.container {
    max-width: 1266px;
    margin: 0 auto;
    position: relative;
}

.readmore {
    font-size: 15px;
    font-weight: var(--semibold);
    display: inline-block;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 4px 15px;
    margin-top: 15px;
    z-index: 1;
    position: relative;
    transition: all ease .5s;
}

.readmore::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: var(--secondary-color);
    transition: width ease .5s;
}

.readmore::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: var(--secondary-color);
    transition: width ease .5s;
}

.readmore:hover::before,
.readmore:hover::after {
    width: 50%;
}

.readmore:hover {
    border-color: var(--secondary-color);
    color: #fff;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background-color: var(--primary-color);
    line-height: 31px;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

/* header */
header {
    padding: 25px 78px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1)30%, rgba(0, 0, 0, 0)100%);
}

@media(min-width: 768px) and (max-width: 991px) {
    header {
        padding: 20px 30px;
    }
}

@media(max-width: 767px) {
    header {
        padding: 20px;
    }
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 79px;
}

.navbar .menu {
    list-style: none;
    display: flex;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
}

@media(max-width: 767px) {
    .navbar .menu {
        display: block;
        height: 100vh;
        transform: translateX(120%);
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        padding: 30px 0;
    }

    .navbar .menu.open {
        transform: translateX(0);
    }

}

.navbar .fa-bars {
    display: none;
}

@media(max-width: 767px) {
    .navbar .fa-bars {
        display: block;
        font-size: 28px;
        color: #fff;
        padding: 10px;
        cursor: pointer;
    }
}

.navbar a {
    color: #fff;
    font-size: 22px;
    padding: 10px 8px;
    margin: 0 20px;
    transition: all .3s ease-in;
}

@media(min-width: 768px) and (max-width: 991px) {
    .navbar a {
        margin: 0 12px;
    }
}

@media(max-width: 767px) {
    .navbar a {
        display: block;
        padding: 10px 0;
        margin: 23px;
    }
}

.navbar li:last-child a {
    padding-right: 0;
    margin-right: 0;
}

.navbar li:hover a {
    color: #f70142;
}

.navbar li.active a {
    border-bottom: 2px solid #f70142;
}

@media(max-width: 767px) {
    .navbar li.active a {
        border-bottom: 0;
    }
}

/* card css */
.card-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

@media(max-width: 991px) {
    .card-container {
        height: auto;
        padding-top: 100px;
    }
}

/* Mobile CSS */
@media(max-width: 767px) {
    .card-container {
        height: auto;
        padding-top: 50px;
    }
}

.cards {
    display: flex;
    gap: 55px;
}

@media(max-width: 991px) {
    .cards {
        flex-direction: column;
        width: 100%;
    }
}

@media(max-width: 767px) {
    .cards {
        flex-direction: column;
        width: 100%;
    }
}

.card {
    flex: 1;
}

@media(max-width: 991px) {
    .card {
        position: relative;
        display: flex;
    }
}

/* Mobile CSS */
@media(max-width: 767px) {
    .card {
        position: relative;
        display: flex;
    }
}

.card .face {
    height: 250px;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, .5);
    transition: all ease .5s;
}

.card .face.face1 {
    background-color: var(--primary-color);
    transform: translateY(125px);
    position: relative;
    z-index: 1;
}

@media(max-width: 991px) {
    .card .face.face1 {
        transform: translateY(0);
        width: 100%;
    }
}

/* Mobile CSS */
@media(max-width: 767px) {
    .card .face.face1 {
        transform: translateY(0);
        width: 100%;
    }
}

.card .face.face1 .content {
    text-align: center;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .face.face1 .content * {
    color: #fff;
    fill: #fff;
    opacity: 0.3;
}

.card .face.face2 {
    background-color: #fff;
    padding: 45px 62px 45px 45px;
    transform: translateY(-125px);

}

@media(max-width: 991px) {
    .card .face.face2 {
        transform: translateY(0) translateX(100%);
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        opacity: 0;
    }
}


/* Mobile CSS */
@media(max-width: 767px) {
    .card .face.face2 {
        transform: translateY(0) translateX(100%);
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        z-index: 3;
        opacity: 0;
    }
}

.card .face.face2 .content p {
    color: var(--primary-color);
}

.card .face.face1 .content .card-title {
    font-size: 28px;
    margin-top: 18px;
}


.card .face.face2 {
    background-color: #fff;
}

.cards .card .content img {
    width: 130px;
    height: 130px;
}

.card .face.face1 .content * {
    color: #fff;
    fill: #fff;
}

.card:hover .face {
    transform: translateY(0);
    box-shadow: none;
}

.card:hover .face.face1 {
    background-color: var(--secondary-color);
}

.card:hover .face.face1 .content * {
    opacity: 1;
}

@media(max-width: 991px) {
    .card:hover .face.face2 {
        opacity: 1;
    }
}


/* Mobile CSS  */
@media(max-width: 767px) {
    .card:hover .face.face2 {
        opacity: 1;
    }
}